body {
    background-image: url("../img/evelyn-e-samuel-img1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1, h2, h3, h4, h5, h6, p, button {
    font-family: 'Bodoni Moda', serif;
}

section {
    height: 100vh;
    display: block;
}

.bg-tranparent-dark {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-line-white {
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;    
    margin: 1rem;     
    min-width: 230px;
}

.btn-line-grey {
    border: 2px solid grey;
    border-radius: 8px;
    background-color: transparent;
    color: grey;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-back-start {
    position: fixed;
    bottom: 10px;
    right: 40px;
}

.btn-line-white:hover {
    color: #000;
    background: #fff;    
}

.title {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
}

@media only screen and (max-width: 700px) {
    .btn-back-start {
        display: none;
    }

    .btn-line-white  {
        margin: 0;
        margin-top: 1rem;
    }
}